<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include ../common/bootstrap.ejs %>
    <title></title>
  </head>
  <body>
    <div class="">
        <%- include ../common/header.ejs %>
    </div>
    <div class="row">
      <img class="center" src="/img/404.png" alt="">
    </div>
  </body>
</html>
