<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>termsAndConditions</title>

    <%- include ../common/bootstrap.ejs %>
    <script type="text/javascript" src="js/custom.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/mypage_kr.js" charset="utf-8"></script>
    <style>
    p.blacktext-5{
      border: 2px solid grey;
    }
    p{
      font-size: 18px;
      color: #4C4C4C;
    }
    p.subtitle{
      font-size: 26px;
      color: #000000;
    }
    </style>

  </head>
  <body>

  <%- include ../common/header.ejs %>

  <section class="section" data-stellar-background-ratio="0.2">
		<div class="container">
			<div class="row text-center mb-3">
				<div class="col-lg-12 m-auto">
					<h2 class="text-color-dark text-uppercase font-weight-bold">Terms and Conditions</h2>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-lg-12 m-auto">
					<div>
						<p>WELCOME TO EBCOIN! BELOW ARE OUR SALE TERMS OF SERVICE (THESE “TERMS”). THESE TERMS ARE IMPORTANT AND AFFECT YOUR LEGAL RIGHTS AND WILL BE EFFECTIVE UPON THE DATE OF ELECTRONIC ACCEPTANCE. THE PURPOSE OF THESE TERMS IS IN RELATION TO OUR PLATFORM WHICH PROVIDES ETHEREUM-BASED CRYPTOCURRENCY FOR ITS TAX REFUNDS, CURRENCY EXCHANGE, AND PAYMENT SERVICES. USERS ARE ADVISED TO READ THESE TERMS AND EBCOIN’S PRIVACY POLICY CAREFULLY.</p>
					</div>
					<div>
          </br>
						<h1 class="font-weight-bold">1.	SERVICES PROVIDED</h1>
						<ol>
							<li>By accessing or using the EBCoin websites, mobile applications, API, or any associated EBCoin-hosted website (collectively, the “Sites”), or services provided by EBC FOUNDATION PTE. LTD.its subsidiaries, or other affiliates (collectively, “EBCoin”, “we”, “us”, or “our”) that link to these Terms (the “Services”), you hereby agree to be bound by these Terms and all the rights and obligations incorporated herein. If you do not agree to these Terms or any subsequent modifications to these Terms, you may not access or use the Sites or Services. </li>
							<li>These Terms set out the rights and obligations under which EBCoin will provide the Services to you upon your successful registration as an EBCoin user with an EBCoin account (the <span class="font-weight-bold">"EBCoin Account"</span>).</li>
							<li>In providing the Services, EBCoin assumes and relies on the assumption that you have taken, or will take the necessary independent legal, tax, and financial advice in relation to your use of the Sites or Services.</li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">2.	ACKNOWLEDGMENT</h1>
						<ol>
							<li>In agreeing to these Terms and the use of our Sites and Services, you acknowledge that EBCoin’s provision of the Services shall, at all times, be subject to these Terms and to the applicable law.</li>
							<li>You further acknowledge the terms in relation to the collection, use, and disclosure of your personal data, as set out in our <span class="font-weight-bold">Privacy Policy.</span></li>
							<li>You hereby acknowledge and agree that EBCoin does not, and will not, perform the following.
								<ol style="list-style-type: upper-roman;" class="pt-lg pb-lg">
									<li>Deposit-taking</li>
									<li>Dealing in securities</li>
									<li>Trading in futures contracts</li>
									<li>Engaging in leveraged foreign exchange trading</li>
									<li>Advising on corporate finance</li>
									<li>Engaging in fund management</li>
									<li>Engaging in real estate investment trust management</li>
									<li>Engaging in securities financing</li>
									<li>Providing credit rating services</li>
									<li>Providing custodial services for securities.</li>
								</ol>
							</li>
							<li>You acknowledge that EBCoin does not, and will not, assume any advisory, fiduciary, or other similar duties in relation to your use of the Sites, Services, or the cryptocurrency traded on EBCoin (<span class="font-weight-bold">"EBCoin Token"</span>), and that it does not and will not act as an investment advisor to you or any other EBCoin user in relation to the same.</li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">3.	AUTHORIZATION</h1>
						<ol>
							<li>You hereby authorize EBCoin and/or its agents to:
								<ol style="list-style-type: upper-roman;">
									<li>obtain and verify information about EBCoin users, including yourself, as EBCoin may, in its sole and absolute discretion deem fit, in which case you agree to provide the necessary information which EBCoin may require in connection with such verification;</li>
									<li>disclose any information and/or data relating to you and your EBCoin Account, EBCoin Token, or any other information as EBCoin may deem necessary to:
										<ul style="list-style-type: lower-alpha;">
											<li>any of EBCoin’s representative or associated company;</li>
											<li>any government or regulatory agency or authority;</li>
											<li>any credit bureau, service provider, agent, or business partner, wherever situated for any purpose whatsoever; or</li>
											<li>any other person to whom disclosure is permitted or required by the applicable law. </li>
										</ul>
									</li>
								</ol>
							</li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">4.	ELIGIBILITY</h1>
						<ol>
							<li>To be eligible as a EBCoin
								<ol style="list-style-type: upper-roman;">
									<li>you are a natural person who must be 18 years old or above;</li>
									<li>you are of sound mind and legal competence, with full power and authority to enter into, perform, and deliver these Terms, will not violate any other agreement to which you are a party, in the course of entering into, performing, and delivering these Terms;</li>
									<li>you have not been previously suspended or removed from the Sites, or engaged in any activity that could result in suspension or removal from the Sites; and</li>
									<li>you do not have more than one EBCoin Account.</li>
								</ol>
							</li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">5.	YOUR EBCOIN ACCOUNT</h1>
						<ol>
							<li class="pb-sm"><span class="font-weight-bold">Registration and Use</span>: In order to access and use our Sites and Services, you must first register as an EBCoin user on our Sites by providing your name, email address, password, and affirming your acceptance of these Terms, our Privacy Policy, and other agreements pertaining to our Sites and Services, as may be amended and updated from time to time. You hereby agree that EBCoin shall have the sole and absolute discretion to determine the provision of Services to you, and that EBCoin may reject, refuse, discontinue, or suspend, temporarily or permanently, your use of the Sites or any Services provided to you, at any time and for any reason (including, without limitation, as a result of your breach of these Terms or as required by any government or regulatory agency or authority) without notice and without any incurring liability. You hereby agree to:
								<ol style="list-style-type: upper-roman;" class="pt-lg pb-lg">
									<li>provide accurate, current, and complete EBCoin Account information about yourself, ;</li>
									<li>maintain and promptly update your EBCoin Account, from time to time, as necessary;</li>
									<li>maintain the security of your password and accept all risks of unauthorized access to your EBCoin Account and the information you provide to us; and</li>
									<li>immediately notify us if you discover or otherwise suspect any security breaches related to the Sites, Services, or your EBCoin Account.</li>
								</ol>
							You further agree to only use your EBCoin Account for the purposes set out in these Terms, including for purchasing, receiving, or transferring EBCoin Token as part of an EBCoin Token transaction. As such, you agree to refrain from using your EBCoin Account or EBCoin Token for any prohibited use or prohibited business, at any time and for any reason. You acknowledge that we reserve the right, at all times, to monitor, review, retain, or disclose any information in relation to your EBCoin Account, as necessary to satisfy any applicable law or regulation, and that we may cancel or suspend your EBCoin Account, in our sole discretion, if we determine or reasonably suspect that your EBCoin Account or EBCoin Token is associated with any prohibited use or prohibited business.
							</li>
							<li class="pb-sm"><span class="font-weight-bold">User Verification</span>: In order to access and use our Sites and Services as an EBCoin user, you may be required to provide EBCoin with certain personal information, including, without limitation, your date of birth, government identification number, and information regarding your bank account. EBCoin may also require you to answer certain questions or take actions in order to verify your identity or to comply with applicable law. You hereby authorize EBCoin, directly or through third parties, to make any inquiries we consider necessary to verify your identity or protect against fraud, including inquiries pertaining to your identity information, account information associated with your linked bank account in your EBCoin Account, or qualifying credit or debit cards used to fulfil your payment obligations as an EBCoin user. You agree that we reserve the right to take any action we deem necessary based on the results of such inquiries. You further authorize any and all third parties to which such inquiries may be directed to fully respond to such inquiries. Notwithstanding the above, we may require you to submit additional information about yourself or provide records in relation to your EBCoin user verification, in which case we will notify you in advance of any charges or fees accruing from such verification. You hereby agree to bear all costs and fees that are associated with this additional EBCoin user verification.
							</li>
							<li><span class="font-weight-bold">Communications</span>: By creating an EBCoin Account, you also consent to receive electronic communications from EBCoin, e.g., via email or by posting notices on the Sites. These communications may include notices about your EBCoin Account, such as password changes and other transactional information, and are part of your relationship with us. You agree that any notices, agreements, disclosures, or other communications that we send to you electronically will satisfy any legal communication requirements.
							</li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">6.	PAYMENT OBLIGATIONS</h1>
						<ol>
							<li>A subscription may be necessary for you to access certain parts of a Service. By agreeing to these Terms, you accept the responsibility to cover these subscription costs as indicated during your registration with EBCoin, or based on future requests made through the Services.</li>
							<li>Payment must be made by you or on your behalf. By providing payment information to EBCoin, you represent that you are authorized to make transactions using that payment method, and you authorize EBCoin to make the necessary charges against that payment method, whether automatic, recurring, or individual, as part of providing the Services.</li>
							<li>You may cancel payment by downgrading or terminating the Services through your member settings in your EBCoin Account. You acknowledge that you may be responsible for any applicable taxes, fees, or charges associated with your EBCoin Account or subscription to the Services. </li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">7.	EBCOIN TOKEN AND TAX REFUNDS</h1>
						<ol>
							<li>You acknowledge and agree that the EBCoin Token used in the Sites and as part of our Services are not deemed a security under Singapore law, and is thereby not subject to a Capital Markets Services licence prescribed by the Monetary Authority of Singapore. </li>
							<li>Notwithstanding the above Clause 7.1, you understand and acknowledge any and all processes and risks relating to the offer of the EBCoin Token, including, without limitation, investment and technology risks. You further understand and acknowledge the high risk nature of EBCoin Token, including other risks that pertain to cryptocurrency transactions.   </li>
							<li>You hereby authorize EBCoin to debit any payment relating to the EBCoin Token transaction from the payment method linked to your EBCoin Account, for the full or partial amount of your EBCoin Token transaction and any other amounts owed by you to us in accordance with these Terms.  </li>
							<li>You acknowledge that EBCoin Token transactions may not be cancelled or reversed once initiated by an EBCoin user. You further acknowledge that EBCoin processes EBCoin Token transactions according to the instructions received by EBCoin users. As such, EBCoin does not guarantee the identity of any EBCoin user, receiver, or other party. You hereby agree to the verification of all EBCoin Token transaction information prior to submitting instructions to EBCoin.</li>
							<li>Notwithstanding the above Clause 7.4, EBCoin reserves the right to refuse or cancel any current or pending transaction of EBCoin Token that is made on the Sites, at any time and for any reason, including where required by any government or regulatory agency or authority, or where EBCoin suspects the EBCoin Token transaction involves, or has a high risk of involvement in money laundering, terrorist financing, fraud, or any type of financial crime, or where the EBCoin Token transaction relates to any prohibited use in contravention of any applicable law, regardless of the EBCoin user’s KYC status.</li>
							<li>Notwithstanding the above, you acknowledge that EBCoin reserves the right to process EBCoin Token refunds in the event where the EBCoin Token has been used for any prohibited use or prohibited business, at any time and for any reason, as described in Clause 5.1. </li>
							<li>You acknowledge that there may be a delay in EBCoin Token transaction, risk of loss in holding the EBCoin Token and rapid change or decrease in the price or value of the EBCoin Token. You therefore acknowledge and agree that EBCoin will not be responsible for any EBCoin Token transaction delay, or loss, change or decrease in price or value, theft, or mishandling of the EBCoin Token. </li>
							<li>EBCoin has no control over, or liability for, the delivery, quality, safety, or any other aspect of the EBCoin Token that you receive as an EBCoin user. EBCoin is therefore not responsible for ensuring the completion of an EBCoin Token transaction nor is it under any obligation to complete or fulfil your EBCoin Token transaction, whether through an alternative payment or any other method.</li>
							<li>You agree to provide EBCoin with any and all relevant information and documents required for verification in relation to an EBCoin Token transaction. This may include, without limitation, all information and documents pertaining to customer due diligence.  </li>
							<li>You hereby represent and warrant that you have not committed, and are not subject, to any criminal offence, including tax or financial crimes, in any jurisdiction, and that you are not included in, or subject to, any sanctioned list issued by any government or regulatory authority. You further represent that you have not, and will not, use any proceeds of any crimes, directly or indirectly, to receive the EBCoin Token or to fulfil any payment obligations that you are subject to as an EBCoin user.</li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">8.	LICENCE TO ACCESS AND USE OUR SITES, SERVICES, AND CONTENT</h1>
						<ol>
							<li>Unless otherwise indicated in writing by us, the Sites and Services, and all content and other materials contained therein, including, without limitation, the EBCoin logo, and all designs, text, graphics, pictures, information, data, software, sound files, other files and the selection and arrangement thereof (collectively, “Content”) are the proprietary property of EBCoin or our licensors or users, as applicable, and are protected by the applicable intellectual property stipulations under Singapore law. </li>
							<li>You are hereby granted a limited, non-exclusive, non-transferable, licence to access and use the Sites, Services, and Content. This licence is subject to these Terms and does not include any right to:
								<ol style="list-style-type: upper-roman;" class="pt-lg pb-lg">
									<li>sub-license, sell, resell, or use the Sites, Services, or Content commercially;</li>
									<li>distribute, publicly perform, or publicly display any Content;</li>
									<li>modify or otherwise make any derivative uses of the Site, Services, or Content, or any portion thereof;</li>
									<li>use any data mining, robots, or similar data gathering or extraction method;</li>
									<li>download (other than page caching) any portion of the Sites, Services, or Content, except as expressly permitted by us;</li>
									<li>use the Site, Services, or Content in any manner that is illegal under the regulatory and legal framework of the jurisdiction in which you are resident or domiciled in; or</li>
									<li>use the Sites, Services, or Content for other intended purposes.</li>
								</ol>
							</li>
							<li>Unless we provide prior written consent, your use of the Sites, Services, or Content other than as specifically authorized herein is strictly prohibited and may result in termination of the license granted to you under this clause. Such unauthorized use may also violate applicable laws, including, without limitation, copyright and trademark laws, and applicable regulations and statutes. </li>
							<li>Unless explicitly stated by us, nothing in these Terms shall be construed as conferring any right or licence to any patent, trademark, copyright, or other proprietary rights of EBCoin or any third party, whether by estoppel, implication, or otherwise.</li>
							<li>You acknowledge and agree that the licence granted to you under this clause shall be revocable at any time. Notwithstanding anything to the contrary in these Terms, the Sites and Content may include software components provided by EBCoin or a third party that are subject to separate licence terms, in which case those licence terms will govern such software components.  </li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">9.	TRADEMARKS</h1>
						<ol>
							<li>"EBCoin", the EBCoin logo, and any other EBCoin product or service names, logos, or slogans that may appear on the on the Sites or Services are trademarks of EBCoin and may not be copied, imitated or used, in whole or in part, without our prior written permission. </li>
							<li>You may not use any metatags or other “hidden text” utilizing “EBCoin” or any other name, trademark or Product or service name of EBCoin without our prior written permission. In addition, the look and feel of the Sites and Services, including, without limitation, all page headers, custom graphics, button icons and scripts, constitute the service mark, trademark or trade dress of EBCoin and may not be copied, imitated or used, in whole or in part, without our prior written permission. All other trademarks, registered trademarks, product names and company names or logos mentioned on the Sites or Services are the property of their respective owners and may not be copied, imitated or used, in whole or in part, without the permission of the applicable trademark holder. Reference to any products, services, processes or other information by name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship, or recommendation by EBCoin.</li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">10.	HYPERLINKS</h1>
						<ol>
							<li>You are hereby granted a limited, non-exclusive, non-transferable right to create a text hyperlink to the Sites for non-commercial purposes, provided that such link does not portray EBCoin or any of our products or Services in a false, misleading, derogatory, or otherwise defamatory manner, and provided that the linking site does not contain any adult or illegal material or any material that is offensive, harassing, or otherwise objectionable. This limited right may be revoked at any time. </li>
							<li>You agree to not use an EBCoin logo or other proprietary graphic of EBCoin to link to the Sites without our express written permission. You further agree to not use, frame, or utilize framing techniques to enclose any EBCoin trademark, logo, or other proprietary information, including the images found on the Sites, Services, Content, or the content of any text or the layout or design of any page, or form contained on a page, on the Sites without our express written consent. </li>
							<li>EBCoin makes no claim or representation regarding, and accepts no responsibility for, the quality, content, nature, or reliability of third party websites accessible by hyperlink from the Sites or, of websites linking to, the Sites. Such sites are not under our control, and we are not responsible for the contents of any linked site, any link contained in a linked site, or any review, changes or updates to such sites. We provide these links to you only as a convenience, and the inclusion of any link does not imply our affiliation, endorsement, or adoption of any site or any information contained therein. When you leave the Sites, you should be aware that our terms and policies no longer govern. You should review the applicable terms and policies, including privacy and data gathering practices, of any site to which you access from the Sites.</li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">11.	THIRD PARTY CONTENT</h1>
						<p>We may display content from third parties through the Sites and Services (collectively, “Third Party Content”). We do not control, endorse, or adopt any Third Party Content, and we make no representations or warranties of any kind regarding such Third Party Content, including, without limitation, regarding its accuracy or completeness. You acknowledge and agree that your interactions with third parties providing Third Party Content are solely between you and such third parties, and that EBCoin is not responsible or liable in any manner for such interactions or Third Party Content.</p>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">12.	USER CONDUCT</h1>
						<ol>
							<li>You agree that you will not violate any law, contract, regulation, intellectual property, or other third party right to commit a tort, and that you are solely responsible for your conduct, while accessing or using the Sites or Services. You agree that you will comply with the obligations set out in these Terms, and that you will not:
								<ol style="list-style-type: upper-roman;" class="pt-lg pb-lg">
									<li>provide false or misleading information to EBCoin;</li>
									<li>use or attempt to use another user’s EBCoin Account without authorization from such user and EBCoin;</li>
									<li>use the Sites or Services in any manner that could interfere with, disrupt, negatively affect, or inhibit other users from fully enjoying the Sites or Services, or that could damage, disable, overburden, or impair the function of the Sites or Services in any manner;</li>
									<li>develop, utilize, or disseminate any software, or interact with out API, in any manner, that could damage, harm, or impair the Sites or Services;</li>
									<li>reverse engineer any aspect of the Sites or Services, or do anything that may discover source code, bypass, or circumvent measures employed to prevent or limit access to any Content, area or code of the Sites or Services;</li>
									<li>attempt to circumvent any content-filtering techniques we employ, or attempt to access any feature or area of the Sites or Services that you are not authorized to access;</li>
									<li>use any robot, spider, crawler, scraper, script, browser extension, offline reader, or other automated means or interface not authorized by us to access the Sites or Services, extract data, or otherwise interfere with or modify the rendering of Site pages or functionality;</li>
									<li>use data collected from our Sites and Services to contract individuals, companies, or other persons or entities;</li>
									<li>use data collected from our Sites and Services for any direct marketing activity, including, without limitation, email marketing, text message marketing, telemarketing, and direct marketing;</li>
									<li>bypass or ignore instructions contained in the robots.txt file, accessible at www.ebcoin.io, that controls all automated access to the Sites or Services;</li>
									<li>use the EBCoin Token as an investment, or anything other than a utility for accessing the Sites or Services; or</li>
									<li>use the Sites or Services for any illegal or unauthorized purpose, or engage in, encourage, or promote any activity that violates these Terms.</li>
								</ol>
							</li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">13.	REPRESENTATIONS AND WARRANTIES</h1>
						<ol>
							<li>Notwithstanding the provisions set out in these Terms, you represent and warrant to EBCoin that:
								<ol style="list-style-type: upper-roman;" class="pt-lg pb-lg">
									<li>any information you provide to EBCoin is true and accurate in all material aspects on and as at the date it was provided;</li>
									<li>your failure to provide true and accurate information to EBCoin may result in a suspension or termination of your access and use of your EBCoin Account, the Sites, or Services;</li>
									<li>the obligations assumed by you as an EBCoin user in accordance with these Terms and any other agreement entered into between you and EBCoin constitute legal, valid, binding, and enforceable obligations to be fulfilled by you;</li>
									<li>you have the legal authority to enter into, perform, and deliver the obligations of these Terms and any other agreement entered into between you and EBCoin, and you have taken all necessary actions to authorize your entry into, and performance and delivery of any obligations created under these Terms and any other agreement entered into between you and EBCoin.</li>
								</ol>
							</li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">14.	INDEMNIFICATION</h1>
						<ol>
							<li>To the fullest extent permitted by applicable law, you agree to indemnify, defend, and hold harmless EBCoin, and any of its respective past, present, and future employees, officers, directors, contractors, consultants, equity holders, suppliers, vendors, service providers, parent companies, subsidiaries, affiliates, agents, representatives, predecessors, successors and assigns (individually and collectively, the <span class="font-weight-bold">"EBCoin Parties"</span>), from and against all actual or alleged third party claims, damages, awards, judgments, losses, liabilities, obligations, penalties, interest, fees, expenses (including, without limitation, legal fees and expenses), and costs (including, without limitation, court costs, costs of settlement, and costs of pursuing indemnification and insurance), of every kind and nature whatsoever, whether known or unknown, foreseen or unforeseen, matured or unmatured, or suspected or unsuspected, in law or equity, whether in tort, contract, or otherwise (collectively, “Claims”), including, but not limited to, damages to property or personal injury, that are caused by, arise out of or are related to: (a) your use or misuse of the Sites, Services, or Content; (b) any Feedback you provide; (c) your breach of these Terms; and (d) your violation of the rights of another user of the EBCoin Account.
							</li>
							<li>You hereby indemnify EBCoin and the EBCoin Parties, and assume any liability for, your use of the EBCoin Token or the Sites or Services that violates any regulatory scheme or law in any jurisdiction that you are resident or domiciled in, or operate or do business with. You assume all responsibility of keeping up to date with changes in regulatory schemes in such jurisdiction, and will not hold EBCoin or the EBCoin Parties liable for a breach of any law or regulation that you are subject to.</li>
							<li>You agree to promptly notify EBCoin of any third party Claims and cooperate with the EBCoin Parties in defending such Claims. You further agree that the EBCoin Parties shall have control of the defence or settlement of any third party Claims. This indemnity is in addition to, and not in lieu of, any other indemnities set forth in any agreement entered into between you and EBCoin.</li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">15.	DISCLAIMERS</h1>
						<p>EXCEPT AS EXPRESSLY PROVIDED TO THE CONTRARY IN WRITING BY EBCOIN, THE SERVICES AND CONTENT CONTAINED THEREIN ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. EBCOIN DISCLAIMS ALL OTHER WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT AS TO THE SERVICES AND CONTENT CONTAINED THEREIN. EBCOIN DOES NOT REPRESENT OR WARRANT THAT THE CONTENT ON THE SERVICES IS ACCURATE, COMPLETE, RELIABLE, CURRENT, OR ERROR-FREE. WHILE EBCOIN ATTEMPTS TO MAKE YOUR ACCESS AND USE OF THE SITES, SERVICES, AND CONTENT SAFE, EBCOIN CANNOT AND DOES NOT REPRESENT AND WARRANT THAT THE SITES, SERVICES, AND CONTENT ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. YOU ARE HEREBY ADVISED TO USE INDUSTRY-RECOGNIZED SOFTWARE TO DETECT AND DISINFECT VIRUSES FROM ANY DOWNLOAD.</p>
						<p>EBCOIN MAKES NO WARRANTIES, EXPRESS OR IMPLIED, WITH RESPECT TO SUCH THIRD PARTY PRODUCTS, AND EXPRESSLY DISCLAIMS ANY WARRANTY OR CONDITION OF MERCHANTABILITY, NON-INFRINGEMENT, OR FITNESS FOR A PARTICULAR PURPOSE. IN NO EVENT WILL EBCOIN BE LIABLE FOR ANY INCIDENTAL, CONSEQUENTIAL, OR COVER DAMAGES ARISING OUT OF YOUR USE OF OR INABILITY TO USE THIRD PARTY SERVICES, OR ANY AMOUNT IN EXCESS OF THE AMOUNT PAID BY YOU FOR THE SERVICE THAT GIVES RISE TO ANY CLAIM.</p>
						<p>YOU HEREBY ACKNOWLEDGE AND AGREE THAT THE EBCOIN TOKEN ARE NOT SECURITIES AS DEFINED UNDER SINGAPORE’S SECURITIES AND FUTURES ACT (CAP. 289) (THE “SFA”). ACCORDINGLY, THE SFA DOES NOT APPLY TO THE ISSUANCE OF THE EBCOIN TOKEN. FOR THE AVOIDANCE OF DOUBT, THE OFFERING OF EBCOIN TOKEN NEED NOT BE ACCOMPANIED BY ANY PROSPECTUS OR PROFILE STATEMENT AND NO PROSPECTUS OR PROFILE STATEMENT NEEDS TO BE LODGED WITH THE MONETARY AUTHORITY OF SINGAPORE.</p>
						<p>WHETHER TAKEN AS A WHOLE OR READ IN PART, THESE TERMS ARE NOT, AND SHOULD NOT BE REGARDED AS, ANY FORM OF LEGAL, FINANCIAL, TAX, OR OTHER PROFESSIONAL ADVICE. YOU SHOULD SEEK INDEPENDENT PROFESSIONAL ADVICE BEFORE MAKING YOUR OWN DECISION AS TO WHETHER OR NOT TO RECEIVE ANY EBCOIN TOKEN. YOU ARE RESPONSIBLE FOR ANY AND ALL EVALUATIONS, ASSESSMENTS, AND DECISIONS YOU MAKE IN RELATION TO INVESTING IN THE EBCOIN TOKEN. YOU MAY REQUEST FOR ADDITIONAL INFORMATION FROM EBCOIN IN RELATION TO THIS OFFER OF THE EBCOIN TOKEN. EBCOIN MAY, BUT IS NOT OBLIGED TO, DISCLOSE SUCH INFORMATION DEPENDING ON WHETHER: (I) IT IS LEGAL TO DO SO; AND (II) THE REQUESTED INFORMATION IS REASONABLY NECESSARY TO VERIFY THE INFORMATION CONTAINED IN THESE TERMS.</p>
						<p>EBCOIN IS NOT RESPONSIBLE FOR COMPELLING ANY PERSON TO ACCEPT EBCOIN TOKEN AND DISCLAIMS, TO THE FULLEST EXTENT PERMITTED BY LAW, ALL LIABILITY FOR ANY ADVERSE CONSEQUENCES ARISING OUT OF OR IN RELATION TO SUCH REJECTIONS OF THE EBCOIN TOKEN.</p>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">16.	LIMITATION OF LIABILITY</h1>
						<p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL EBCOIN OR ANY OF THE OTHER EBCOIN PARTIES BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES OF ANY KIND (INCLUDING, BUT NOT LIMITED TO, LOSS OF REVENUE, INCOME OR PROFITS, LOSS OF USE OR DATA, LOSS OR DIMINUTION IN VALUE OF ASSETS OR SECURITIES, OR DAMAGES FOR BUSINESS INTERRUPTION) ARISING OUT OF, OR IN ANY WAY RELATED TO, THE ACCESS OR USE OF THE SITES OR CONTENT OR THE USE OF ANY SERVICE OR OTHERWISE RELATED TO THESE TERMS (INCLUDING, BUT NOT LIMITED TO, ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY ANY USER ON ANY INFORMATION OBTAINED FROM EBCOIN, OR FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETIONS OF FILES OR EMAILS, ERRORS, DEFECTS, BUGS, VIRUSES, TROJAN HORSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF GOD, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO EBCOIN’S RECORDS, PROGRAMS OR SYSTEMS), REGARDLESS OF THE FORM OF ACTION, WHETHER BASED IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, SIMPLE NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), STRICT PRODUCT LIABILITY OR ANY OTHER LEGAL OR EQUITABLE THEORY (EVEN IF THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND REGARDLESS OF WHETHER SUCH DAMAGES WERE FORESEEABLE).
						</p>
						<p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE MAXIMUM AGGREGATE LIABILITY OF EBCOIN ARISING OUT OF, OR IN ANY WAY RELATED TO, THESE TERMS, THE ACCESS TO, AND USE OF, THE SITES, SERVICES AND CONTENT, OR ANY PRODUCTS OR SERVICES PURCHASED FROM US EXCEED THE AMOUNT YOU PAID TO EBCOIN IN CONNECTION WITH THE EVENT GIVING RISE TO SUCH LIABILITY OR, IN THE EVENT WHERE YOU HAVE NOT PAID, SUCH MAXIMUM AGGREGATE LIABILITY SHALL NOT EXCEED S$100.00.</p>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">17.	DISPUTE RESOLUTION</h1>
						<ol>
							<li>You acknowledge and agree that any dispute, claim, suit, action, cause of action, demand, or proceeding (collectively, <span class="font-weight-bold">"Disputes"</span>) under these Terms that either party seeks to bring shall be through binding arbitration, and shall be both substantively and procedurally governed by, construed, and enforced in accordance with the Singapore International Arbitration Centre (the <span class="font-weight-bold">"SIAC"</span>), to the maximum extent permitted by applicable law.</li>
							<li>You and EBCoin agree that each party will notify the other party in writing of any arbitral or small claims Dispute within thirty (30) days of the date it arises, so that the parties can attempt in good faith to resolve the Dispute informally. Notice to EBCoin shall be sent by certified mail or courier to the current address of KR Partners Co Ltd. Your notice must include: (a) your name, postal address, telephone number, the email address you use or used for your EBCoin Account and, if different, an email address at which you can be contacted; (b) a description in reasonable detail of the nature or basis of the Dispute; and (c) the specific relief that you are seeking. Our notice to you will be sent electronically in accordance with Clause 5 and will include; (d) our name, postal address, telephone number, and an email address at which we can be contacted with respect to the Dispute; (e) a description in reasonable detail of the nature or basis of the Dispute; and (f) the specific relief that we are seeking. If you and EBCoin are unable to agree on how to resolve the Dispute within thirty (30) days after the date the notice is received by the applicable party, then either you or EBCoin may, as appropriate and in accordance with this clause, commence an arbitration proceeding or file a claim in the Singapore courts.</li>
							<li>Except for Disputes in which either party seeks to bring an individual action in small claims court or seeks injunctive or other equitable relief for the alleged unlawful use of intellectual property, including, without limitation, copyrights, trademarks, trade names, logos, trade secrets or patents, you and EBCoin agree that any Dispute must be commenced or filed by you or EBCoin within one (1) year of the date the Dispute arose, failing which you and EBCoin will no longer have the right to assert such claim regarding the Dispute. You and EBCoin agree that: (a) any arbitration proceeding arising out of the Dispute will occur in Singapore; and (b) the arbitration proceeding will be conducted confidentially by a single arbitrator in accordance with the SIAC rules, which are hereby incorporated by reference.</li>
							<li>As limited by the SIAC, these Terms and the applicable SIAC rules, the arbitrator will have: (a) the exclusive authority and jurisdiction to make all procedural and substantive decisions regarding a Dispute, including the determination of whether a Dispute is arbitrable; and (b) the authority to grant any remedy that would otherwise be available in the Singapore courts. The arbitrator may only conduct an individual arbitration and may not consolidate more than one individual’s claims, preside over any type of class or representative proceeding, or preside over any proceeding involving more than one individual.</li>
							<li>By agreeing to be bound by these Terms, you; (a) acknowledge and agree that you have read and understand the rules of SIAC; or (b) waive your opportunity to read the rules of SIAC, and any claim that the rules of SIAC are unfair or should not apply for any reason.</li>
							<li>If any term of this clause is held invalid or unenforceable, it will be held to the minimum extent required by law, and all other terms of this clause will remain valid and enforceable, except as prohibited by applicable law. </li>
							<li>You have the right to opt out of binding arbitration within thirty (30) days of the date you first accepted the terms of this clause by writing to the current address of KR Partners Co Ltd. in which case the opt-out notice must include your full name and clearly indicate your intent to opt out of binding arbitration.</li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">18.	ENTIRE AGREEMENT</h1>
						<p>These Terms constitute the entire agreement of the parties and supersedes all prior communications, contracts, or agreements, written or oral, between the parties with respect to any provisions set out in these Terms. In the event of any inconsistencies between any agreement you have entered into in relation to EBCoin’s Sites or Services, including, without limitation, EBCoin’s White Paper, you acknowledge and agree that the provisions set out in these Terms will prevail.</p>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">19.	SEVERABILITY</h1>
						<p>In the event any provisions of these Terms are found to be or become unlawful, invalid, or otherwise unenforceable, that provision is deemed severed from these Terms, and shall not affect the legality, validity, and enforceability of the remaining provisions of these Terms.</p>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">20.	SURVIVAL</h1>
						<p>All provisions of these Terms, which by their nature, extend beyond the expiration or termination of this Agreement, including, without limited, clauses pertaining to suspension or termination, EBCoin Account cancellations, debts owed to EBCoin, general use of the Sites, disputes with EBCoin, and general provisions shall survive termination or expiration of these Terms.</p>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">21.	AMENDMENTS</h1>
						<p>EBCoin may, at any time, give you notice of any amendment, variation, revision, supplement, or any other change to these Terms by post, email, or such other means as EBCoin deems fit. Such change will take place on and from the date specified in the notice, or if no such date is specified, on and from the date the notice is served or published. Without prejudice to the foregoing, your continued use of the Sites, Services, or Content shall be deemed as your acceptance and agreement to the same.</p>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">22.	NO WAIVER OR RIGHTS</h1>
						<p>A failure or delay in exercising any rights in respect of these Terms will not be presumed to operate as a waiver, and a single or partial exercise of any right will not be presumed to preclude any subsequent or further exercise of that right or any other rights under these Terms.</p>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">23.	ASSIGNMENT</h1>
						<p>You agree not to assign of your rights as an EBCoin user, or delegate the performance of any duties that you are subject to under these Terms, unless expressly permitted in writing by EBCoin.</p>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">24.	THIRD PARTY RIGHTS</h1>
						<p>No party to these Terms shall have any right under the Contracts (Rights of Third Parties) Act (Cap. 53B) of Singapore to enforce any provision of these Terms.</p>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">25.	TERMINATION</h1>
						<ol>
							<li>In the event where EBCoin rejects, refuses, discontinues, or suspends, temporarily or permanently, your use of the Sites or any Services provided to you, as set out in Clause 5.1, or where your EBCoin Account is shut down or suspended, whether temporarily or permanently, you will not be entitled to a refund of any amounts that you have already paid to us, to the fullest extent permitted by applicable law.</li>
							<li>Notwithstanding the above, in the event where you wish to terminate your EBCoin Account, you acknowledge and agree that you shall be responsible for all your expenses in relation to your termination of your EBCoin Account and of these Terms.</li>
						</ol>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">26.	FORCE MAJEURE</h1>
						<p>We will not be liable for any delay, failure in performance or interruption of the Services, which result, directly or indirectly, from any cause or condition beyond our reasonable control, including, without limitation, any delay or failure due to any act of God, act of civil or military authorities, act of terrorists, civil disturbance, war, strike, or other labour dispute, fire, interruption in telecommunications or Internet services or network provider services, failure of equipment or software, or any other occurrence which is beyond our reasonable control, and shall not affect the validity and enforceability of any remaining provisions.
						</p>
					</div>
          </br>
					<div>
						<h1 class="font-weight-bold">27.	GOVERNING LAW AND JURISDICTION</h1>
						<p>These Terms will be governed and construed in accordance with the laws of Singapore and you hereby submit to the exclusive jurisdiction of the Singapore courts.</p>
					</div>
				</div>
			</div>

		</div>
	</section>


    <!-- Vendor -->
    		<script src="/resources/vendor/jquery/jquery.min.js"></script>
    		<script src="/resources/vendor/jquery.appear/jquery.appear.min.js"></script>
    		<script src="/resources/vendor/jquery.easing/jquery.easing.min.js"></script>
    		<script src="/resources/vendor/jquery-cookie/jquery-cookie.min.js"></script>
    		<script src="/resources/vendor/popper/umd/popper.min.js"></script>
    		<script src="/resources/vendor/bootstrap/js/bootstrap.min.js"></script>
    		<script src="/resources/vendor/common/common.min.js"></script>
    		<script src="/resources/vendor/jquery.validation/jquery.validation.min.js"></script>
    		<script src="/resources/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    		<script src="/resources/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    		<script src="/resources/vendor/isotope/jquery.isotope.min.js"></script>
    		<script src="/resources/vendor/owl.carousel/owl.carousel.min.js"></script>
    		<script src="/resources/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    		<script src="/resources/vendor/vide/vide.min.js"></script>

    		<!-- Theme Base, Components and Settings -->
    		<script src="/resources/_js/theme.js"></script>

    		<!-- Current Page Vendor and Views -->
    		<script src="/resources/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    		<script src="/resources/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    		<!-- Current Page Vendor and Views -->
    		<script src="/resources/_js/views/view.contact.js"></script>

    		<!-- Demo -->
    		<script src="/resources/_js/demos/demo-event.js"></script>

    		<!-- Theme Custom -->
    		<script src="/resources/_js/custom.js"></script>

    		<!-- Theme Initialization Files -->
    		<script src="/resources/_js/theme.init.js"></script>
    		<script src="/resources/mobile/js/web3.min.js"></script>
        <script src="js/jquery-min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.mixitup.js"></script>
        <script src="js/nivo-lightbox.js"></script>
        <script src="js/owl.carousel.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/scrolling-nav.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/smoothscroll.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/wow.js"></script>
        <script src="js/jquery.vide.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/form-validator.min.js"></script>
        <script src="js/contact-form-script.js"></script>
        <script src="js/main.js"></script>


      </body>
      </html>
